
.videoElement {
    position: absolute; 
    right: 50%; 
    bottom: 50%;
    min-width: 100%; 
    min-height: 100%;
    width: 1280px;
    height: 720px;

    z-index: -100;
    background-size: cover;
    overflow: hidden;
}
